.popup__whiteList-wait {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    visibility: hidden;
    transition: all .4s ease-in-out;
    z-index: 10;
    opacity: 0;
}

.popup__whiteList-wait.popup__whiteList-wait-active {
    opacity: 1;
    visibility: visible;
}

.popup__whiteList-wait-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2C2C2C;
    border: 1px solid #3A3A3A;
    border-radius: 16px;
    padding: 57px 77.5px 47px 77.5px;
}

.popup__whiteList-wait-title {
    font-family: 'Proxima-Nova-Bold', sans-serif;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 10px;
    letter-spacing: 0.85px;
    max-width: 320px;
    text-align: center;
}

.popup__whiteList-wait-img {
    margin-bottom: 20px;
}

.popup__whiteList-description {
    font-family: 'Proxima-Nova-Regular', sans-serif;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #B8B8B8;
    max-width: 323px;
    text-align: center;
    margin-bottom: 35px;
}

.popup__whiteList-link {
    color: #FAB446;
}

.popup__whiteList-ok.global__btn-yellow {
    width: 210px;
    text-align: center;
}

@media (max-width: 600px) {
    .popup__whiteList-wait-title {
        max-width: 315px;
    }

    .popup__whiteList-wait-content {
        padding: 38px 0.5px 42px 0.5px;
    }

    .popup__whiteList-wait {
        letter-spacing: 0;
        margin-bottom: 32px;
    }

    .popup__whiteList-wait-img {
        height: 149px;
        margin-right: 0;
        margin-bottom: 32px;
    }

    .popup__whiteList-description {
        margin-bottom: 50px;
    }

    .popup__whiteList-ok.global__btn-yellow {
        width: 160px;
    }
}