@font-face{
  font-family: 'Panton-Bold';
  src: url('../fonts/Panton-Bold.woff2') format('woff2'),
  url('../fonts/Panton-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'manrope-medium';
  src: url('../fonts/manrope-medium.woff2') format('woff2'),
  url('../fonts/manrope-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'manrope-SemiBold';
  src: url('../fonts/Manrope-SemiBold.woff2') format('woff2'),
  url('../fonts/Manrope-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'manrope-bold';
  src: url('../fonts/manrope-bold.woff2') format('woff2'),
  url('../fonts/manrope-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'HeroicCondensed-Bold';
  src: url('../fonts/HeroicCondensed-Bold.woff2') format('woff2'),
  url('../fonts/HeroicCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
