/*@media (max-width: 1280px) {*/
/*    .auctions__box{*/
/*        margin: 91px auto 118px;*/
/*    }*/
/*}*/

@media (max-width: 1258px) {
    
}
@media (max-width: 1100px) {
    /*.auctions__box {*/
    /*    grid-template-rows: 105px 1fr;*/
    /*    grid-template-columns: auto;*/
    /*    grid-template-areas:*/
    /*        "title-box title-box"*/
    /*        "map options";*/
    /*}*/

    .auctions__map {
        margin-right: 0;
        margin-bottom: 48px;
        justify-self: center;
    }

    .auctions__title-box {
        justify-self: center;
    }

    .auctions__options {
        justify-self: center;
    }

    /*.auctions__buy-title {*/
    /*    white-space: normal;*/
    /*}*/
}

@media (max-width: 930px) {
    .auctions__map-img img {
        max-width: 450px;
    }
}

@media (max-width: 820px) {
    .auctions__map-img img {
        max-width: 100%;
    }
}


@media (max-width: 930px) {
    .auctions__map-video {
        /* width: 450px; */
        border-radius: 22px;
        -moz-border-radius:20px;
        -webkit-border-radius:1em;
        width: 450px;
        height: 100%;
        /* height: 601px; */
    }
}

@media (max-width: 820px) {
    .auctions__map-video {
        max-width: 100%;
        border-radius: 22px;
        -moz-border-radius:20px;
        -webkit-border-radius:20px;
    }
}

@media (max-width: 768px) {
    .auctions__map-img{
        margin-right: 0;
    }
    .auctions__options{
        margin-bottom: 18px;
    }
    .auctions__buy-current{
        justify-content: center;
        /*padding-left: 79px;*/
    }
    .auctions__purchase-item{
        max-width: inherit;
    }
    .auctions__buy-deposit{
        flex-basis: 80%;
        max-width: inherit;
    }
    .auctions__buy-min{
        margin-bottom: 14px;
    }
    .auctions__buy-replenishment {
        max-width: 100%;
        padding: 0 33px;
    }
    .auctions__options{
        width: 100%;
    }
    .auctions__buy-ends{
        padding-left: 12px;
    }
    .auctions__buy-ends{
        margin-left: 39px;
    }
    .auctions__map{
        margin-bottom: 39px;
        padding: 0 24px;
    }
    .auctions__buy-current{
        padding-right: 22px;
    }
    .auctions__box {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        margin-top: 12px;
        grid-template-areas:
            "title-box"
            "paused"
            "map"
            "options";
    }
    .paused{
        position: static;
        min-width: 320px;
        margin-bottom: 23px;
    }
    .auctions__img-map{
        width: 100%;
    }
    .paused__text{
        white-space: normal;
    }
    .auctions__box{
        padding-top: 20px;
        grid-row-gap: 0;
    }
    .auctions__title-box{
        width: 100%;
        padding: 0 33px;
    }
    .paused__text{
        line-height: 30px;
    }
    .auctions__buy-title{
        margin-right: auto;
    }
    .auctions__buy-select{
        margin-bottom: 22px;
    }
    .auctions .container__auctions{
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 465px) {
    .auctions__buy-select {
        align-items: flex-start;
    }

    .auctions__buy-replenishment{
        padding: 0;
    }
    .auctions__buy-prev {
        margin-top: 8px;
    }

    .auctions__buy-next {
        margin-top: 8px;
    }
}

@media (max-width: 430px) {
    .container__auctions {
        padding: 0;
    }

    .auctions__map {
        padding: 0 17px;
    }

    .auctions__title-box {
        padding: 0 17px;
    }

    .auctions__buy-current {
        padding: 0 17px;
    }

    .auctions__buy-minimum {
        border-radius: 0;
        padding: 28px 24px 32px 24px;
    }

    .auctions__purchase {
        border-radius: 0;
        padding: 24px 24px 32px 24px;
    }

    .auctions__map-description {
        text-align: start;
    }

    .auctions__map-info {
        align-items: start;
    }

    .auctions__buy-form {
        flex-direction: column;
        align-items: normal;
    }

    .auctions__buy-btn {
        margin-left: 0;
    }

    .auctions__options {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 0;
    }

    .auctions__buy-deposit {
        margin-bottom: 20px;
        max-width: 400px;
    }

    .auctions__buy-btn {
        width: 100%;
    }

    .auctions__purchase-name {
        font-size: 14px;
    }

    .auctions__purchase-price {
        font-size: 14px;
    }

    .auctions__purchase-price:before {
        left: 50px;
        width: 8px;
        height: 13px;
    }
}

@media (max-width: 450px) {
    .auctions__box{
        grid-row-gap: 21px;
    }
    /*.auctions__img-map{*/
    /*    width: 96%;*/
    /*}*/
    .auctions__buy-current{
        justify-content: flex-start;
    }
    .auctions__map-img{
        overflow: hidden;
        height: 234px;
        border-radius: 16px;
        width: 100%;
    }
    .auctions__map-title {
        font-size: 23px;
    }
    .auctions__map{
        margin-bottom: 26px;
    }
    .auctions__buy-current{
        margin-bottom: 31px;
    }
    .auctions__buy-deposit:before{
        right: 0px;
        transform: translate(-50%, -8px);
    }
    .auctions__purchase-show{
        margin-top: 17px;
        font-size: 12px;
    }
    .auctions__purchase-show img {
        margin-left: 4px;
    }
    .auctions__buy-min{
        font-size: 14px;
        margin-bottom: 8px;
    }
    .auctions__buy-ends span{
        line-height: 25px;
    }
    .auctions__buy-time{
        line-height: 31px;
    }
}

@media (max-width: 430px) {
    .paused__text{
        line-height: 28px;
    }
    .auctions__box {
        grid-auto-columns: 375px;
    }
    .auctions__map,
    .auctions__title-box,
    .auctions__buy-current{
        padding: 0 24px;
    }
    .auctions__buy-ends {
        margin-left: 54px;
    }
    /*.auctions__buy-title {*/
    /*    margin-right: 0;*/
    /*}*/
    .auctions__buy-prev,
    .auctions__buy-next {
        width: 54px;
        height: 54px;
    }
    .auctions__buy-title {
        font-size: 72px;
        line-height: 64px;
        letter-spacing: -2.5px;
        max-width: 218px;
        white-space: normal;
        margin-right: auto;
    }
    .auctions__box{
        padding-top: 0;
        grid-row-gap: 0;
    }

    .auctions__buy-data {
        font-size: 12px;
    }
    .auctions__buy-bid {
        font-size: 12px;
    }
    .auctions__buy-ends {
        font-size: 12px;
        margin-left: 46px;
    }
}

/*start style successfully*/
@media (max-width: 400px) {
    .auctions__buy-successfully {
        border-radius: 0;
    }
}
/*end style successfully*/



/*start style history*/

@media (max-width: 550px) {
    .history__box {
        height: 100vh;
    }
    .history__items {
        height: 402px;
    }
    .history__info-img img {
        width: 96px;
        height: 96px;
    }
    .history__info-container {
        margin-left: 16px;
    }
    .history__info{
        padding-left: 11px;
    }
    
}

/*end style history*/