.header {
    transition: background-color .5s ease-in-out;
    z-index: 10;
    background-color: #292930;
    padding-top: 20px;
    padding-bottom: 16px;
    position: relative;
    border-bottom: 1px solid #292930;
}

.header.header-active {
    background-color: #34343D;
    border-bottom: 1px solid #50505C;
}

.header__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-width: 1190px;
}

.header__btn{
    font-family: 'manrope-bold', sans-serif;
    background: linear-gradient(237.36deg, #FF52A9 5.21%, #DF78E2 49.38%, #758FF6 91.17%), linear-gradient(237.36deg, #FF527A 5.21%, #DF78E2 49.38%, #758FF6 91.17%), linear-gradient(237.36deg, #FF4D76 5.21%, #758FF6 91.17%);
    border-radius: 20px;
    width: 169px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
}

.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-left: 48px;
    left: 0;
    right: 0;
}

.header__menu.header__menu-active {
    transform: translate(0px, 86px);
}

.header__menu-link {
    font-family: 'Panton-Bold', sans-serif;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 32px;
}

.header__menu-link + .header__menu-link {
    margin-left: 30px;
}

.header__menu-discord {
    padding-left: 28px;
    position: relative;
}

.header__menu-discord:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 15px;
    background-image: url("../images/discord-img.svg");
    background-repeat: no-repeat;
    background-size: contain;
    left: -8px;
    top: 50%;
    transform: translate(50%, -50%);
}

.header__btn-disconnect{
    width: 136px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
    border: 2px solid #FFFFFF;
    letter-spacing: 0.291667px;
    border-radius: 20px;
    text-transform: uppercase;
    font-family: 'Panton-Bold', sans-serif;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    z-index: 2;
    color: #FFFFFF;
    padding-top: 2px;
}

.header__mobile-box {
    display: none;
    margin-left: 32px;
    width: 16px;
    height: 14px;
    position: relative;
    cursor: pointer;
}

.header__mobile-btn {
    transition: opacity .1s ease-in-out;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 1px;
    background-color: #FFFFFF;
    border-radius: 1px;
}

.header__mobile-box:before {
    transition: transform .2s ease-in-out;
    content: "";
    position: absolute;
    top: 0px;
    width: 16px;
    height: 1px;
    background-color: #FFFFFF;
    border-radius: 1px;
}

.header__mobile-box:after {
    transition: transform .2s ease-in-out;
    content: "";
    position: absolute;
    bottom: 0px;
    width: 16px;
    height: 1px;
    background-color: #FFFFFF;
    border-radius: 1px;
}

.header__mobile-box.header__mobile-active .header__mobile-btn {
    opacity: 0;
}

.header__mobile-box.header__mobile-active.header__mobile-box:before {
    transform: translateY(6px) rotate(45deg);
}

.header__mobile-box.header__mobile-active.header__mobile-box:after {
    transform: translateY(-7px) rotate(-45deg);
}

.mobile-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(41, 41, 48, 0.8);
}

.mobile-bg.mobile-bg-active {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 768px) {
    .header__mobile-box {
        display: block;
    }

    .header__logo {
        margin-right: auto;
    }

    .header__box {
        justify-content: flex-end;
    }

    .header__menu {
        position: fixed;
        padding-top: 31px;
        padding-bottom: 32px;
        transform: translate(-1500px, 86px);
        background-color: #34343D;
    }
}

@media (max-width: 768px) {
    .header .container {
        padding: 0 32px 0 32px;
    }
    .header__menu-link {
        font-size: 16px;
        letter-spacing: 0.5px;
    }
    .header__menu {
        padding-left: 0;
    }
    .header__menu-link + .header__menu-link {
        margin-left: 64px;
    }
    .header__box{
        min-width: 320px;
    }
}

@media (max-width: 500px) {
    .header{
        padding-bottom: 29px;
        border-bottom: none;
        padding-top: 8px;
    }
    .header__mobile-box{
        margin-right: 14px;
    }

    .header .container{
        padding: 0 11px;
    }
    .header.header-active {
        border-bottom: none;
    }
    .header__menu {
        z-index: 2;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 73px;
        border-top: 1px solid #50505C;
        height: 220px;
        transform: translate(-1500px, 110px);
    }
    .header__menu-link + .header__menu-link {
        margin-left: 0;
        margin-top: 30px;
    }
    .header__menu.header__menu-active {
        transform: translate(0px, 110px);
    }
    .header__box{
        flex-wrap: wrap;
    }
    .header__logo {
        order: 1;
    }
    .header__mobile-box {
        order: 2;
    }
    .header__btn-disconnect {
        order: 3;
        z-index: 1;
    }
    .header__btn-disconnect,
    .header__btn{
        margin: 24px auto 0;
        width: 327px;
    }
}

@media (max-width: 450px) {
    .container {
        max-width: 1920px;
        padding: 0 12px;
        margin: 0 auto;
    }
}

@media (max-width: 375px) {
    .header {
        padding-top: 10px;
        padding-bottom: 19px;
    }

    .header .container {
        padding: 0 24px 0 12px;
    }

    .header__btn-disconnect {
        margin-top: 20px;
        margin-left: 15px;
    }
}