.info {
    background-color: #34343D;
    /*margin-top: 80px;*/
    padding-top: 71px;
    padding-bottom: 96px;
    min-width: 1255px;
}

.info__box {
    display: flex;
    justify-content: space-between;
}

/*LEFT*/
.info__left-name {
    color: #FFFFFF;
    font-family: 'HeroicCondensed-Bold', sans-serif;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    max-width: 364px;
    position: relative;
}
.info__name-id {
    color: #838391;
    padding-left: 3px;
}
.info__left-name:after {
    content: "";
    position: absolute;
    right: 0;
    top: 9px;
    width: 28px;
    height: 28px;
    background-image: url("../images/question.svg");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.info__left-collection {
    color: #A8A8B6;
    font-family: 'manrope-SemiBold', sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin-top: 9px;
}
.info__collection-name {
    color: #758FF6;
}

.info__left-description {
    color: #FFFFFF;
    font-family: 'manrope-medium', sans-serif;
    font-size: 20px;
    line-height: 32px;
    margin-top: 40px;
    max-width: 740px;
}
/*LEFT*/



/*RIGHT*/
.info__right-rank {
    color: #FFFFFF;
    font-family: 'HeroicCondensed-Bold', sans-serif;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    padding-right: 46px;
    position: relative;
}
.info__rank-number {
    color: #FF527A;
}
.info__right-rank:after {
    content: "";
    position: absolute;
    right: 1px;
    top: 9px;
    width: 28px;
    height: 28px;
    background-image: url("../images/question.svg");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.info__right-collection {
    color: #A8A8B6;
    font-family: 'manrope-SemiBold', sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin-top: 9px;
    padding-left: 69px;
}

.info__right-score {
    color: #FFFFFF;
    font-family: 'manrope-bold', sans-serif;
    font-size: 20px;
    line-height: 64px;
    max-width: 300px;
    position: relative;
    margin-top: 21px;
    margin-left: 58px;
}
.info__score-number {
    color: #FF527A;
    padding-left: 4px;
}
.info__right-score:after {
    content: "";
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(50%, -50%);
    width: 28px;
    height: 28px;
    background-image: url("../images/question.svg");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
/*RIGHT*/

/*MEDIA*/
@media (max-width: 768px) {
    .info {
        padding-top: 44px;
        padding-bottom: 81px;
        min-width: 320px;
    }

    .info__box {
        flex-direction: column;
        padding-left: 26px;
    }

    .info__left {
        padding-left: 21px;
    }

    .info__left-name {
        font-size: 56px;
        line-height: 56px;
        max-width: 320px;
    }
    .info__name-id {
        padding-left: 0;
    }
    .info__left-name:after {
        top: 8px;
    }

    .info__left-description {
        max-width: 640px;
        margin-top: 33px;
    }

    .info__left-collection {
        margin-top: 8px;
    }

    .info__right-rank {
        font-size: 56px;
        line-height: 56px;
        max-width: 280px;
    }
    .info__right-rank:after {
        right: 7px;
        top: 8px;
    }

    .info__right {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 67px;
        padding-left: 21px;
    }

    .info__right-collection {
        margin-top: 8px;
        padding-left: 1px;
    }

    .info__right-score {
        margin-top: 0;
        margin-left: 0;
        line-height: 0;
        padding-top: 23px;
        padding-right: 83px;
    }
    .info__right-score:after {
        right: 47px;
        top: 8px;
        transform: none;
    }
}

@media (max-width: 650px) {
    .info__right {
        flex-direction: column;
    }

    .info__right-score {
        line-height: 64px;
    }

    .info__right-score:after {
        top: 40px;
    }
}

@media (max-width: 530px) {
    .info__box {
        padding-left: 0;
    }
}

@media (max-width: 400px) {
    .info__left {
        padding-left: 0;
    }

    .info__right {
        padding-left: 0;
    }
}

@media (max-width: 400px) {
    .info {
        padding-top: 28px;
        padding-bottom: 49px;
        margin-top: 0;
    }

    .info__left {
        padding-left: 6px;
    }

    .info__right {
        padding-left: 6px;
        padding-top: 56px;
    }

    .info__left-name {
        letter-spacing: -2.5px;
        max-width: 328px;
    }

    .info__right-rank {
        letter-spacing: -2.5px;
        padding-right: 0;
    }

    .info__left-collection {
        font-size: 14px;
        margin-top: 4px;
        letter-spacing: 0.01em;
    }

    .info__left-description {
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.15px;
        margin-top: 24px;
    }

    .info__right-collection {
        font-size: 14px;
        margin-top: 4px;
        letter-spacing: 0.01em;
    }

    .info__right-score {
        padding-top: 1px;
    }

    .info__right-rank:after {
        right: -122px;
        top: 4px;
    }

    .info__right-score:after {
        top: 19px;
        right: -44px;
    }
}
/*MEDIA*/