.validator__main {
    width: 100%;
    height: 100vh;
    background-image: url("../images/validator-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-width: 1256px;
}

.validator__main .header {
    background-color: rgba(255,255,255,0%);
    border-bottom: none;
}

.validator__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 80px auto;
    width: 480px;
    height: 480px;
    background-color: #41414B;
    border: 0.5px solid #878798;
    border-radius: 16px;
}

.validator__content-logo {
    padding-top: 66px;
    /* width: 152px;
    height: 152px; */
    /* width="152" height="152" */
}

.validator__content-title {
    color: #FFFFFF;
    font-family: 'manrope-bold', sans-serif;
    font-size: 24px;
    line-height: 24px;
    /*letter-spacing: -0.03em;*/
    margin-top: 44px;
    margin-bottom: -2px;
}

.validator__content-description {
    color: #B8B8B8;
    font-family: 'manrope-medium', sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    margin-top: 20px;
    max-width: 382px;
}

.validator__content-description a {
    color: #758FF6;
}

.validator__content-link {
    color: #FFFFFF;
    font-family: 'Panton-Bold', sans-serif;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 3px 24px 0 24px;
    margin-top: 31px;
    background: linear-gradient(237.36deg, #FF52A9 5.21%, #DF78E2 49.38%, #758FF6 91.17%), linear-gradient(237.36deg, #FF527A 5.21%, #DF78E2 49.38%, #758FF6 91.17%), linear-gradient(237.36deg, #FF4D76 5.21%, #758FF6 91.17%);
    border-radius: 20px;
    position: relative;
}

.notFound__btn,
.auctions__buy-btn,
.header__btn-disconnect,
.validator__verification-link,
.validator__account-link{
    position: relative;
}
.notFound__btn:before,
.auctions__buy-btn:before,
.validator__account-link:before,
.validator__verification-link:before,
.header__btn-disconnect:before,
.validator__content-link:before{
    content: "";
    background: rgba(255, 255, 255, 0);
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all .4s ease-in-out;
}
.notFound__btn:hover:before,
.auctions__buy-btn:hover:before,
.validator__account-link:hover:before,
.validator__verification-link:hover:before,
.header__btn-disconnect:hover:before,
.validator__content-link:hover:before{
    background: rgba(255, 255, 255, 0.2);
}

/*.validator__content-box{*/
/*    width: 100%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    height: calc(100vh - 80px);*/
/*}*/

.validator__content-box{
    width: 100%;
    display: flex;
    align-items: center;
    height: calc(100vh - 160px);
}

@media (min-width: 1919px) {

    .validator__content {
        /*margin: 221px auto 0;*/
    }
}

@media (max-width: 768px) {
    .validator__main{
        min-width: 375px;
    }
    .validator__content {
        /*margin: 80px 24px;*/
        width: initial;
        padding: 16px;
        max-width: 480px;
    }

}

@media (max-width: 530px) {
    .validator__main{
        background-image: url("../images/validator-bg-mobile.png");
    }
    .validator__content-box{
        height: calc(100vh - 121px);
    }
    .validator__content{
        margin: 23px 24px;
    }
    .validator__main{
        background-position: center -152px;
        background-size: 1051px;
        background-color: #1C1C21;
    }
    .validator__content-logo{
        padding-top: 22px;
    }
    .validator__content-title {
        font-size: 20px;
        margin-top: 41px;
    }
}