.validator__popup-box{
    width: 100%;
    min-width: 1256px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(41, 41, 48, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
}
.validator__popup{
    width: 560px;
    height: 202px;
    background: #41414B;
    border: 0.5px solid #878798;
    border-radius: 16px;
    padding: 24px 24px 24px 40px;
    position: relative;
}

.validator__popup-btn-box{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 24px;
    right: 24px;
    /*margin-right: auto;*/
}

.validator__popup-btn-box .header__btn-disconnect{
    margin-top: 0;
    margin-right: 11px;
    width: 101px;
    line-height: 22px;
}
.validator__popup-title{
    font-weight: 700;
    font-size: 24px;
    font-family: 'manrope-bold';
    color: #FFFFFF;
    margin-bottom: 22px;
}

.validator__popup-des{
    font-weight: 400;
    font-size: 16px;
    color: #B8B8B8;
    font-family: 'manrope-medium';
}

@media (max-width: 768px) {
    .validator__popup-box{
        min-width: 375px;
    }
}

@media (max-width: 610px) {
    .validator__popup{
        width: 100%;
        height: 336px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        text-align: center;
        padding: 35px 24px 24px 24px;
    }
    .validator__popup-btn-box{
        position: static;
        /*align-items: center;*/
        flex-direction: column-reverse;
        max-width: 400px;
        margin: 0 auto;
    }

    .validator__popup-des{
        margin-bottom: 48px;
        line-height: 29px;
    }
    .validator__popup-btn-box .validator__verification-link{
        max-width: 400px;
        margin-bottom: 18px;
    }
    .validator__popup-btn-box .header__btn-disconnect{
        max-width: 400px;
        width: auto;
        margin-bottom: 18px;
    }
    .validator__popup-btn-box .header__btn-disconnect, .header__btn{
        margin: initial;
    }
    .validator__popup-box{
        align-items: end;
    }
    .validator__popup-title{
        margin-bottom: 14px;
    }
}

@media (max-width: 500px){
    .validator__popup-btn-box{
        flex-direction: column;
    }
}