.validator__verification {
    justify-content: flex-start;
}

.validator__address {
    background-color: #34343D;
    width: 432px;
    height: 194px;
    border: 1px solid #34343D;
    border-radius: 8px;
    margin-top: 22px;
}

.validator__address-your {
    color: #FFFFFF;
    font-family: 'Panton-Bold', sans-serif;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding-top: 10px;
    padding-left: 13px;
}

.validator__address-id {
    color: #FFFFFF;
    font-family: 'manrope-bold', sans-serif;
    letter-spacing: -0.03em;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    padding-top: 55px;
}

.validator__verification-title {
    color: #FFFFFF;
    font-family: 'manrope-bold', sans-serif;
    font-size: 24px;
    line-height: 24px;
    /*letter-spacing: -0.03em;*/
    margin-top: 53px;
    margin-bottom: 18px;
}

.validator__verification-description {
    color: #B8B8B8;
    font-family: 'manrope-medium', sans-serif;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    max-width: 382px;
    margin-bottom: 33px;
}

.validator__verification-link {
    color: #FFFFFF;
    font-family: 'Panton-Bold', sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 2px 24px 0 24px;
    background: linear-gradient(237.36deg, #FF52A9 5.21%, #DF78E2 49.38%, #758FF6 91.17%), linear-gradient(237.36deg, #FF527A 5.21%, #DF78E2 49.38%, #758FF6 91.17%), linear-gradient(237.36deg, #FF4D76 5.21%, #758FF6 91.17%);
    border-radius: 20px;
}

@media (max-width: 530px){
    .validator__address{
        width: 100%;
        margin-top: 0;
    }
    .validator__address-your {
        padding-top: 6px;
        padding-left: 9px;
    }
    .validator__address-id {
        font-size: 20px;
        padding-top: 59px;
    }
    .validator__verification-title{
        margin-top: 28px;
        font-size: 20px;
    }
    .validator__address{
        height: 190px;
    }
    .validator__verification-description{
        max-width: 270px;
    }
}