body {
    background-color: black;
}
.frame {
    /* white-space: nowrap;
   
    text-align: center; */
    /* position: relative;
    height: 500px;
    vertical-align: middle;
    border: 3px solid #dbe4ed;
    vertical-align: middle; */

    /* height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #dbe4ed; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.ace_image {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 250px;

}

/* @media (max-width: 2561px) {
    .ace_image {
        max-width: 961px;
    }
}

@media (max-width: 1921px) {
    .ace_image {
        max-width: 740px;
    }
}

@media (max-width: 1441px) {
    .ace_image {
        max-width: 340px;
    }
}

@media (max-width: 1025px) {
    .ace_image {
        max-width: 424px;
    }
}

@media (max-width: 376px) {
    .ace_image {
        max-width: 320px;
    }
} */