.wrong {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 101px;
}

.wrong__title {
    font-family: 'Proxima-Nova-Bold', sans-serif;
    font-size: 26px;
    line-height: 32px;
    color: #FFFFFF;
}

.wrong__description {
    font-family: 'Proxima-Nova-Regular', sans-serif;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.01em;
    text-align: center;
    max-width: 346px;
    color: #B8B8B8;
    margin-top: 19px;
}

.wrong__description-link {
    color: #E1A03F;
}

@media (max-width: 768px) {
    .wrong {
        padding-top: 4px;
        padding-bottom: 38px;
    }

    .wrong__title {
        font-size: 24px;
        line-height: 24px;
        letter-spacing: -0.01em;
        margin-top: 17px;
    }

    .wrong__description {
        font-size: 18px;
        line-height: 26px;
        max-width: 281px;
    }
}