@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');

@font-face{
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
  url('../fonts/ProximaNova-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'Panton-Heavy';
  src: url('../fonts/Panton-Heavy.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'Panton-HeavyItalic';
  src: url('../fonts/Panton-HeavyItalic.woff2') format('woff2'),
  url('../fonts/Panton-HeavyItalic.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'ProximaNova-Semi-Bold';
  src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
  url('../fonts/ProximaNova-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'ProximaNovaCond-Regular';
  src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
  url('../fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'Panton-BlackItalic';
  src: url('../fonts/Panton-BlackItalic.woff2') format('woff2'),
  url('../fonts/Panton-BlackItalic.woff') format('woff');
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'Panton-ExtraBoldItalic';
  src: url('../fonts/Panton-ExtraBoldItalic.woff2') format('woff2'),
  url('../fonts/Panton-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}