.footer {
  background-color: #1E1E1E;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  margin-top: 160px;

  &__wrapper {
    max-width: 1222px;
    flex-basis: 100%;
  }

  &__logo {
    display: flex;
    justify-content: flex-start;
  }

  &__content {
    display: flex;
    margin-top: 38px;
    padding-bottom: 62px;
    border-bottom: solid 0.5px #515151;
  }

  &__description {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    color: #838383;
    font-size: 14px;
    line-height: 24px;
    max-width: 359px;
    margin-right: 123px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 132px;
    margin-top: -1px;

    & + & {
      margin-left: 48px;
    }
  }

  &__links-link {
    font-family: 'ProximaNova-Semi-Bold', sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &__contact {
    margin-left: 48px;
  }

  &__contact-title {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    color: #838383;
    font-size: 14px;
    line-height: 24px;
  }

  &__contact-email {
    font-family: 'ProximaNova-Semi-Bold', sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 3px;
  }

  &__contact-socials {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 8px;
    margin-top: 20px;
  }

  &__contact-wrapper {
    display: flex;
    column-gap: 10px;
  }

  &__sub {
    display: flex;
    padding-top: 32px;
    padding-bottom: 51px;
  }

  &__sub-logo {
    margin-top: 4px;
    width: 85px;
    height: 68px;
  }

  &__sub-description {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    color: #838383;
    font-size: 14px;
    line-height: 24px;
    max-width: 475px;
    margin-left: 43px;
  }

  &__sub-images {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-left: 88px;
    margin-top: 4px;
  }
  &__contact-social img {
    width: 24px;
    height: 24px;
  }
  &__sub-img:nth-child(1) img{
    width: 44px;
    height: 44px;
  }
  &__sub-img:nth-child(2) img{
    width: 63px;
    height: 44px;
  }
  &__sub-img:nth-child(3) img{
    width: 72px;
    height: 44px;
  }
  &__sub-img:nth-child(4) img{
    width: 135px;
    height: 44px;
  }
  &__sub-img:nth-child(5) img{
    width: 41px;
    height: 44px;
    margin-right: 7px;
  }
  &__sub-img:nth-child(6) img{
    width: 89px;
    height: 44px;
  }
}

@media (max-width: 1440px) {
  .footer__wrapper {
    margin-right: 0;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1252px;
  }
}

@media (max-width: 1150px) {
  .footer__content {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer__contact {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    margin-left: 0;
    margin-top: 32px;
  }

  .footer__contact-socials {
    margin-top: 0;
    flex-direction: row;
  }
}

@media (max-width: 1050px) {
  .footer__sub {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__sub-logo {
    flex-basis: 10%;
  }

  .footer__sub-description {
    flex-basis: 50%;
    margin-left: 10px;
  }

  .footer__sub-images {
    margin-top: 30px;
  }
}

@media (max-width: 890px) {
  .footer__links {
    width: 132px;
  }

  .footer__description {
    margin-right: 65px;
  }
}

@media (max-width: 790px) {
  .footer__logo img {
    width: 65px;
    height: 16px;
  }

  .footer {
    padding-top: 24px;
    margin-top: 120px;
  }

  .footer__wrapper {
    padding-left: 40px;
    padding-right: 27px;
  }

  .footer__content {
    margin-top: 20px;
    padding-bottom: 33px;
  }

  .footer__description {
    max-width: 335px;
  }

  .footer__contact {
    margin-right: 14px;
    margin-top: 29px;
  }
  .footer__sub {
    padding-bottom: 51px;
  }
  .footer__contact-email {
    font-size: 12px;
    line-height: 28px;
    margin-top: 2px;
  }

  .footer__links {
    margin-top: -7px;
  }

  .footer__links-link {
    font-size: 12px;
    line-height: 31px;
    letter-spacing: 0.01em;
  }

  .footer__description {
    margin-right: 54px;
  }

  .footer__links + .footer__links {
    margin-left: 26px;
  }

  .footer__sub-logo img {
    width: 64px;
    height: 48px;
  }

  .footer__sub-description {
    max-width: 581px;
    flex-basis: 90%;
    margin-left: 37px;
  }

  .footer__sub {
    justify-content: flex-start;
  }

  .footer__sub-logo {
    margin-top: 12px;
  }

  .footer__sub-img:nth-child(1) img {
    width: 40px;
    height: 40px;
  }

  .footer__sub-img:nth-child(2) img {
    width: 38.73px;
    height: 40px;
  }

  .footer__sub-img:nth-child(3) img {
    width: 64px;
    height: 40px;
  }

  .footer__sub-img:nth-child(4) img {
    width: 108.11px;
    height: 40px;
  }

  .footer__sub-img:nth-child(5) img {
    width: 36.07px;
    height: 40px;
  }

  .footer__sub-img:nth-child(6) img {
    width: 79.47px;
    height: 40px;
  }

  .footer__sub-images {
    margin-top: 44px;
    margin-left: 121px;
  }

  .footer {
    padding-bottom: 4px;
  }
  .footer__sub-img:nth-child(5) img {
    margin-right: 0;
  }
}

@media (max-width: 760px) {
  .footer__description {
    margin-right: 0;
  }
}

@media (max-width: 755px) {
  .footer__sub-description {
    flex-basis: 72%;
  }

  .footer__sub-images {
    margin-left: 90px;
  }
}

@media (max-width: 720px) {
  .footer__links {
    margin-top: 20px;
  }

  .footer__links:nth-child(2) {
    flex-basis: 49%;
  }

  .footer__links + .footer__links {
    flex-basis: 48%;
    margin-left: 0;
  }

  .footer__contact {
    display: block;
  }

  .footer__contact-socials {
    margin-top: 20px;
    flex-direction: column;
  }
}

@media (max-width: 605px) {
  .footer__sub-images {
    margin-left: 10px;
  }
}

@media (max-width: 530px) {
  .footer__sub-img:nth-child(1) img {
    width: 24px;
    height: 24px;
  }

  .footer__sub-img:nth-child(2) img {
    width: 23.24px;
    height: 24px;
  }

  .footer__sub-img:nth-child(3) img {
    width: 38.4px;
    height: 24px;
  }

  .footer__sub-img:nth-child(4) img {
    width: 64.86px;
    height: 24px;
  }

  .footer__sub-img:nth-child(5) img {
    width: 21.64px;
    height: 24px;
  }

  .footer__sub-img:nth-child(6) img {
    width: 47.68px;
    height: 24px;
  }
}

@media (max-width: 430px) {
  .footer {
    margin-top: 90px;
  }
  .footer__sub-description {
    font-size: 12px;
    line-height: 20px;
    margin-left: 20px;
  }

  .footer__links:nth-child(2) {
    flex-basis: 47%;
  }
}

@media (max-width: 376px) {
  .footer__wrapper {
    padding-left: 20px;
  }

  .footer__description {
    font-size: 12px;
    line-height: 20px;
    max-width: 325px;
  }

  .footer__links-link {
    font-size: 14px;
    line-height: 40px;
  }

  .footer__links {
    margin-top: 23px;
    height: auto;
  }

  .footer__links + .footer__links {
    flex-basis: 53%;
  }

  .footer__contact {
    margin-top: 35px;
    margin-right: 0;
  }

  .footer__contact-title {
    font-size: 12px;
  }

  .footer__contact-email {
    font-size: 14px;
    margin-top: 1px;
  }

  .footer__contact-socials {
    column-gap: 19px;
    margin-top: 36px;
    align-items: center;
    margin-left: -19px;
    row-gap: 4px;
  }

  .footer__wrapper {
    padding-right: 0;
  }

  .footer__sub-logo img {
    width: 42.5px;
    height: 32px;
  }

  .footer__sub-description {
    flex-basis: 81%;
  }

  .footer__sub-logo {
    margin-top: 7px;
  }

  .footer__sub {
    padding-top: 26px;
    padding-bottom: 44px;
  }

  .footer__sub-images {
    margin-left: 18px;
    margin-top: 35px;
  }

  .footer__content {
    padding-bottom: 43px;
    border-bottom: none;
    position: relative;
  }

  .footer__content::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 335px;
    height: 0.5px;
    background-color: #515151;
  }

  .footer {
    padding-bottom: 0;
  }
}