.games {
  margin-top: 50px;

  &__box {
    max-width: 1460px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 320px 140px 320px 320px;
    grid-template-areas:
            "one two"
            "three two"
            "three four"
            "five six";
    gap: 20px;
  }

  &__item-crypto {
    background-image: url("../images/games/crypto-games.jpg");
    background-repeat: no-repeat;
    background-size: 720px;
    background-position-y: -27px;
  }

  &__item-poker {
    background-image: url("../images/games/poker.jpg");
    background-repeat: no-repeat;
    background-size: 1008px;
    background-position-y: -143px;
    background-position-x: -12px;
  }

  &__item-roulette {
    background-image: url("../images/games/roulette.jpg");
    background-repeat: no-repeat;
    background-size: 1240px;
    background-position-y: -185px;
    background-position-x: -148px;
  }

  &__item-slots {
    background-color: #000000;
    background-image: url("../images/games/slots.jpg");
    background-repeat: no-repeat;
    background-size: 720px;
    background-position-y: 18px;
  }

  &__item-live {
    background-color: #0C0000;
    background-image: url("../images/games/live-casino.jpg");
    background-repeat: no-repeat;
    background-size: 665px;
    background-position-y: -20px;
    background-position-x: 53px;
  }

  &__item-jackpots {
    background-color: #0e0f11;
    background-image: url("../images/games/jackpots.jpg");
    background-repeat: no-repeat;
    background-size: 501px;
    background-position-y: -141px;
    background-position-x: 171px;
  }

  &__item {
    padding-top: 27px;
    padding-left: 40px;
    &-crypto{
      grid-area: one;
    }
    &-poker{
      grid-area: two;
    }
    &-roulette{
      grid-area: three;
    }
    &-slots{
      grid-area: four;
    }
    &-live{
      grid-area: five;
    }
    &-jackpots{
      grid-area: six;
    }
  }

  &__item-title {
    font-family: 'Panton-HeavyItalic', sans-serif;
    color: #FFFFFF;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
  }
}

@media (max-width: 1500px) {
  .games {
    margin-top: 67px;
  }

  .games__box {
    max-width: 1211px;
    padding: 0 15px;
  }

  .games__item {
    padding-top: 25px;
    padding-left: 39px;
  }

  .games__item-crypto {
    background-size: 642px;
    background-position-y: -3px;
  }

  .games__item-roulette {
    background-size: 1022px;
    background-position-y: -149px;
    background-position-x: -135px;
  }

  .games__item-slots {
    background-size: 606px;
    background-position-y: 40px;
    background-position-x: -13px;
  }

  .games__item-live {
    background-position-x: 0;
  }

  .games__item-jackpots {
    background-size: 435px;
    background-position-y: -96px;
    background-position-x: 74px;
  }
}

@media (max-width: 1024px) {
  .games {
    margin-top: 65px;
  }

  .games__box {
    max-width: 880px;
  }

  .games__item-title {
    font-size: 32px;
    line-height: 40px;
  }

  .games__item-crypto {
    background-position-x: -153px;
  }

  .games__item-poker {
    background-position-y: -135px;
    background-position-x: -64px;
  }

  .games__item-roulette {
    background-size: 940px;
    background-position-y: -104px;
    background-position-x: -144px;
  }

  .games__item-slots {
    background-size: 474px;
    background-position-y: 85px;
    background-position-x: center;
  }

  .games__item-live {
    background-size: 550px;
    background-position-y: 39px;
    background-position-x: -109px;
  }

  .games__item-jackpots {
    background-size: 337px;
    background-position-y: -7px;
    background-position-x: -2px;
  }
}

@media (max-width: 900px) {
  .games__box {
    max-width: 718px;
  }

  .games__item-slots {
    background-position-x: -71px;
  }
}

@media (max-width: 700px) {
  .games__box {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 320px);
    grid-template-areas:
            "one"
            "two"
            "three"
            "four"
            "five"
            "six";
  }

  .games__item-crypto {
    background-size: 655px;
    background-position-x: center;
  }

  .games__item-slots {
    background-size: contain;
    background-position-x: center;
    background-position-y: 100%;
  }

  .games__item-live {
    background-position-x: center;
  }

  .games__item-jackpots {
    background-position-x: center;
  }
}

@media (max-width: 400px) {
  .games {
    margin-top: 100px;
  }

  .games__box {
    grid-template-rows: repeat(6, 172px);
    padding: 0 20px;
    gap: 12px;
  }

  .games__item {
    padding-top: 13px;
    padding-left: 20px;
  }

  .games__item-title {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0;
  }

  .games__item-crypto {
    background-size: 386px;
    background-position-y: -26px;
    background-position-x: -25px;
  }

  .games__item-poker {
    background-size: 430px;
    background-position-y: -76px;
    background-position-x: 1px;
  }

  .games__item-roulette {
    background-size: 512px;
    background-position-y: -70px;
    background-position-x: -67px;
  }

  .games__item-slots {
    background-size: 335px;
    background-position-y: 28px;
    background-position-x: 12px;
  }

  .games__item-live {
    background-size: 340px;
    background-position-y: 0;
    background-position-x: 0;
  }

  .games__item-jackpots {
    background-size: 200px;
    background-position-y: -28px;
    background-position-x: 92px;
  }
}

@media (max-width: 385px) {
  .games__item-slots {
    background-position-x: 0;
  }
}