.header.active-bg {
  background-color: rgba(23, 23, 23, 0.75);
  backdrop-filter: blur(96px) opacity(1);
}

.header {
  padding: 16px 45px 17px 48px;
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  backdrop-filter: blur(96px) opacity(0);
  transition: all .3s;
  &__social-box{
    position: absolute;
    bottom: -100px;
    background: #000;
    border-radius: 12px;
    left: -21px;
    padding-bottom: 7px;
    padding-top: 45px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in-out;
  }
  .social{
    display: inline-block;
    position: relative;
    cursor: pointer;
    border-radius: 12px;
    &:hover .header__social-box{
      opacity: 1;
      visibility: visible;
    }
  }
  .social__title{
    position: relative;
    z-index: 1;
  }

  &__social-link{
    font-family: 'ProximaNova-Bold', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 32px;
    padding: 4px 27px 4px 46px;
    transition: all .3s ease-in-out;
    display: block;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link-star {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
  }

  &__links {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    margin-left: 12px;
  }

  &__link {
    font-family: 'ProximaNova-Bold', sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    transition: color .3s ease-in-out;

    &:hover {
      color: rgba(255, 255, 255, 0.7);
    }
    &:hover .header__social-link{
      color: #FFFFFF;
    }

    .header__social-link:hover{
      color: rgba(255, 255, 255, 0.7);
    }
    & + & {
      margin-left: 44px;
    }

    &-sale {
      display: inline-block;
      width: 91px;
      position: relative;
      text-align: end;
    }
  }

  &__document {
    font-family: 'ProximaNova-Bold', sans-serif;
    color: #000000;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.035em;
    text-transform: uppercase;
    background: #F3BC57;
    border-radius: 32px;
    padding: 16px 31px 16px 32px;
    display: inline-block;
    font-weight: 700;
    position: relative;
  }
  .twitter,
  .discord{
    display: block;
    position: relative;
    &:before{
      transition: all .3s ease-in-out;
      content: '';
      background-image: url('../images/header/twitter.svg');
      position: absolute;
      left: 21px;
      top: 12px;
      background-repeat: no-repeat;
      background-size: cover;
      height: 13px;
      width: 16px;
    }
  }

  .discord:before{
    background-image: url('../images/header/discord.svg');
  }
  .twitter:hover:before {
    background-image: url('../images/header/twitter-active.svg');
  }
  .discord:hover:before {
    background-image: url('../images/header/discord-active.svg');
  }
}

@media (max-width: 1440px) {
  .header {
    padding-right: 48px;
  }

  .header__links {
    margin-left: -4px;
  }
}

@media (max-width: 1265px) {
  .header__links {
    margin-left: -30px;
  }
}

@media (max-width: 1220px) {
  .header__links {
    position: static;
    transform: none;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-right: 34px;
    margin-left: 0;
  }
  .header__link:nth-child(1) {
    display: none;
  }
  .header__link:nth-child(2) {
    display: none;
  }
  .header__link:nth-child(3) {
    display: none;
  }
  .header__link:nth-child(4) {
    display: none;
  }
  .header__link:nth-child(5) {
    display: none;
  }

  .header__link+.header__link {
    margin-left: 0;
  }

  .header__social-box {
    padding-top: 15px;
    padding-bottom: 15px;
    bottom: -135px;
  }
}

@media (max-width: 768px) {
  .header {
    padding-right: 16px;
    padding-left: 20px;
    padding-top: 15px;
    .header__document {
      padding: 12px 24px 12px 21px;
    }
  }



  .header__logo {
    padding-top: 5px;
  }
}

@media (max-width: 500px) {
  .header {
    padding-right: 21px;
    .header__document {
      color: #E6C365;
      padding: 0;
      background-color: transparent;
    }
  }

  .header__logo img {
    width: 65px;
    height: 16px;
  }

  .header__social-box {
    bottom: -120px;
  }
}