.join {
  position: fixed;
  z-index: 10;
  right: 48px;
  bottom: 37px;
  width: 120px;
  height: 120px;

  &__bg-one {
    animation: rotate 10s linear infinite;
    width: 120px;
    height: 120px;
    background-image: url("../images/global/bg-join.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__bg-two {
    width: 75.88px;
    height: 75.88px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    background-image: url("../images/global/discord-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@keyframes rotate {
  from {
   transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1060px) {
  .join {
    width: 100px;
    height: 100px;
    right: 25px;
  }

  .join__bg-one {
    width: 100px;
    height: 100px;
  }

  .join__bg-two {
    width: 62.5px;
    height: 62.5px;
  }
}

@media (max-width: 690px) {
  .join {
    width: 70px;
    height: 70px;
    bottom: 20px;
    right: 20px;
  }

  .join__bg-one {
    width: 70px;
    height: 70px;
  }

  .join__bg-two {
    width: 43.7px;
    height: 43.7px;
  }
}