.providers {
  margin-top: 165px;
  &__title {
    text-align: center;
    margin-bottom: 51px;
  }

  &__title-best {
    width: 104px;
    margin-left: 15px;
  }

  &__title-game {
    width: 333px;
  }

  &__slider {
    height: auto;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }


  &__slider-track {
    display: flex;
    column-gap: 6px;
    // тут мы должны ввести
    // (ширину обычного слайдера вместе с column-gap * количетсво обычных слайдеров умножиную на два + сумму больших слайдеров)
    width: calc(262px * 66 + 528px - 7px);
    animation: scroll 90s linear infinite;

    &:hover {
      animation-play-state: paused;
    }
  }

  &__slider-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 144px;
    background-color: #202020;
    border-radius: 4px;

    img {
      width: 60%;
    }
  }

  &__slider-bigBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 528px;
    height: 294px;
    background-color: #202020;
    border-radius: 4px;

    img {
      width: 60%;
    }
  }

  &__slider-slide {
    width: 256px;
    height: 294px;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
  }
}

.providers__slider-block .leap-img {
  width: 40%;
}

.providers__slider-block .Untitled-img {
  width: 35%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    // тут мы должны ввести
    // (ширину обычного слайдера вместе с column-gap * количетсво обычных слайдеров НЕ умножиную на два + сумму больших слайдеров)
    transform: translateX(-262px * 33 - 528px - 7px);
  }
}

@media (max-width: 1000px) {
  .providers {
    margin-top: 102px;
  }
  .providers__title-game {
    width: 273px;
  }
  .providers__title-best {
    width: 80px;
  }
  .providers__slider-slide {
    width: 185px;
    height: 212px;
  }

  .providers__slider-block {
    width: 185px;
    height: 104px;
  }

  .providers__slider-block img {
    width: 55%;
  }

  .providers__slider-block .Untitled-img {
    width: 70px;
    height: 70px;
  }

  .providers__slider-bigBlock {
    width: 374px;
    height: 212px;
  }

  .providers__slider-bigBlock img {
    width: 50%;
  }

  .providers__slider-track {
    width: calc(191px * 66 + 374px - 7px);
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      // тут мы должны ввести
      // (ширину обычного слайдера вместе с column-gap * количетсво обычных слайдеров НЕ умножиную на два + сумму больших слайдеров)
      transform: translateX(-191px * 33 - 374px - 7px);
    }
  }

  .providers__title {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .providers{
    margin-top: 50px;
  }
}

@media (max-width: 471px) {
  .providers__title-best {
    width: 72px;
  }

  .providers__title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .providers__title-best {
    width: 76px;
    margin-bottom: 10px;
  }

  .providers__title-game {
    width: 260px;
  }

  .providers__slider-slide {
    width: 144px;
    height: 132px;
  }

  .providers__slider-block {
    width: 144px;
    height: 64px;
  }

  .providers__slider-block .Untitled-img {
    width: 55px;
    height: 50px;
  }

  .providers__slider-block img {
    width: 50%;
  }

  .providers__slider-bigBlock {
    width: 228px;
    height: 132px;
  }

  .providers__slider-bigBlock img {
    width: 50%;
  }

  .providers__slider-track {
    width: calc(150px * 66 + 228px - 7px);
  }

  .providers__title-game {
    width: 241px;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      // тут мы должны ввести
      // (ширину обычного слайдера вместе с column-gap * количетсво обычных слайдеров НЕ умножиную на два + сумму больших слайдеров)
      transform: translateX(-150px * 33 - 228px - 7px);
    }
  }
}

